/* ============ Color Library ============ */
/* #000000 - Black */
/* #D1D1D1 - Lighter Gray */
/* #A0A0A0 - Light Gray */
/* #7F7F7F - Dark Gray */
/* #23272A - Darker Gray */
/* #111111 - Basically Black Gray */
/* #F7941E - Main Orange */
/* #FFB03D - Lighter Orange */

/* ============ Fonts ============ */
@font-face {
  font-family: 'DepredationPixie';
  src: url('../font/DepredationPixie.eot');
  src: url('../font/DepredationPixie.eot?#iefix') format('embedded-opentype'),
       url('../font/DepredationPixie.woff2') format('woff2'),
       url('../font/DepredationPixie.woff') format('woff'),
       url('../font/DepredationPixie.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Free Pixel';
  src: url('../font/FreePixel-Regular.eot');
  src: url('../font/FreePixel-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/FreePixel-Regular.woff2') format('woff2'),
       url('../font/FreePixel-Regular.woff') format('woff'),
       url('../font/FreePixel-Regular.ttf') format('truetype'),
       url('../font/FreePixel-Regular.svg#FreePixel-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pixelmix';
  src: url('../font/pixelmix.eot');
  src: url('../font/pixelmix.eot?#iefix') format('embedded-opentype'),
       url('../font/pixelmix.woff2') format('woff2'),
       url('../font/pixelmix.woff') format('woff'),
       url('../font/pixelmix.ttf') format('truetype'),
       url('../font/pixelmix.svg#pixelmix') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../font/CenturyGothic-Bold.eot');
  src: url('../font/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/CenturyGothic-Bold.woff2') format('woff2'),
       url('../font/CenturyGothic-Bold.woff') format('woff'),
       url('../font/CenturyGothic-Bold.ttf') format('truetype'),
       url('../font/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../font/CenturyGothic.eot');
  src: url('../font/CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('../font/CenturyGothic.woff2') format('woff2'),
        url('../font/CenturyGothic.woff') format('woff'),
        url('../font/CenturyGothic.ttf') format('truetype'),
        url('../font/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ============ Tags ============ */
body {
	background-color: #F7941E;
}

header {
	background-color: #F7941E;
	margin: -8px -8px 0px -8px;
	height: 195px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

header a {
	text-decoration: none;
}

footer {
	background-color: #F7941E;
	margin: 0px -8px 0px -8px;
	height: 110px;
}

footer a {
  	text-decoration: none;
}

footer h3 {
	display: inline-block;
	margin-left: 2vw;
	font-family: 'pixelmix';
	color: #000000;
}

form {
  background-color: #F7941E;
  border: 2px solid #D1D1D1;
  color: #000000;
  text-align: left;
  width: 50%;
  margin: 0px auto;
  padding: 30px;
}

form label {
  font-weight: bold;
  font-size: 25px;
  margin-left: 4.5vw;
}

form input {
  display: block;
	font-family: 'Century Gothic';
  font-size: 20px;
  line-height: 20px;
  border: 2px solid #D1D1D1;
  border-radius: 4px;
  box-sizing: border-box;
  height: 30px;
  width: 80%;
  margin: 0px auto;
}

form textarea {
  display: block;
	font-family: 'Century Gothic';
  font-size: 20px;
  line-height: 20px;
  resize: none;
  height: 200px;
  border: 2px solid #D1D1D1;
  border-radius: 4px;
  box-sizing: border-box;
  width: 80%;
  margin: 0px auto;
}

form #submit {
  font-size: 25px;
  width: 30%;
  height: 40px;
  font-weight: bold;
  border: 2px solid #B0B0B0;
  background-color: #D1D1D1;
}

form #submit:hover {
  background-color: #FFB03D;
}

hr {
  width: 95%;
}

/* ============ ID's ============ */
#logoblock {
	display: block;
	text-align: left;
	font-family: 'DepredationPixie';
	margin-left: 2vw;
	height: 130px;
	width: 250px;
}

#logoblock img {
	width: 170px;
	display: block;
	margin: 5px 0px -20px 25px;
}

#logoblock h1 {
	font-size: 35px;
	margin-bottom: 5px;
	color: #000000;
}

#navblock {
	display: block ;
	text-align: center;
	width: 100%;
	background-color: #B0B0B0;
	height: 61px;
	border-top: 2px solid #D1D1D1;
	border-bottom: 2px solid #D1D1D1;
}

#hamblock {
	display: none;
	text-align: center;
	width: 100%;
	background-color: #B0B0B0;
	height: 61px;
	border-top: 2px solid #D1D1D1;
	border-bottom: 2px solid #D1D1D1;
}

#bars {
	height: 45px;
	width: 45px;
	font-size: 30px;
	float: right;
	text-align: center;
	border: 2px solid #D1D1D1;
	margin: 8px 8px 0px 0px;
	border-radius: 10px;
	background-color: #F7941E;
	padding: 0px;
}

#noleftborder {
	margin-left: 0px;
}

#norightborder {
	margin-right: 0px;
}

#active {
	background-color: #FFB03D;
	color: #FFFFFF;
}

/* #sidenav {
	height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5px;
  background-color: #7F7F7F;
//border-right: 2px solid #D1D1D1;
} */

/* #sidenav a {
	display: block;
	margin-left: 20px;
	font-family: 'DepredationPixie';
	line-height: 30px;
  text-decoration: none;
  font-size: 4vw;
  color: #F7941E;
  transition: 0.3s;
	width: 200px;
} */

#sidenav a:hover {
  	color: #D1D1D1;

}

#main {
	margin: 0px -8px;
	padding-bottom: 10px;
	background-color: #23272A;
	min-height: 66vh;
	text-align: center;
	font-family: 'Century Gothic';
	color: #FFFFFF;
}

#title {
  	margin: 0px;
  	padding-top: 10px;
  	font-size: 70px;
}

#greybar {
	display: block ;
	text-align: center;
	width: 100%;
	background-color: #B0B0B0;
	height: 25px;
	border-top: 2px solid #D1D1D1;
	border-bottom: 2px solid #D1D1D1;
}

#topborderside {
  	border-top: 2px solid #D1D1D1;
}

#extramargintop {
  margin-top: 100px;
}

/* ============ Classes ============ */
/* ====== Header Group and Header Tanb */
.headergroup {
	display: inline-block;
	width: 19.5%;
	text-align: center;
	font-family: 'DepredationPixie';
	color: #000000;
	font-size: 1.9vw;
}

.headergroup > .submenu {
	position: absolute;
	width: 19.5%;
}

/*
.headergroup:hover img {
	-webkit-transform: rotate(30deg);
 	transition-transform: rotate(30deg);
}

.headergroup:hover i {
	-webkit-transform: rotate(90deg);
 	transition-transform: rotate(90deg);
}
*/

.headertab {
/*	display: inline-block;*/
	height: 61px;
	line-height: 61px;
/*	width: 19.5%;*/
	text-align: center;
	font-family: 'DepredationPixie';
	color: #000000;
/*	font-size: 1.9vw;*/
/*	border-left: 0.1vw solid #000000;*/
}

.headertab img {
	-webkit-transition: -webkit-transform .25s ease-in-out;
 	transition: transform .25s ease-in-out;
	width: 5vw;
	display: inline-block;
	vertical-align: middle;
	margin: 0px;
	max-width: 66px;
	min-width: 40px;
	padding: -20px;
}

.headertab h2 {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0px;
}

.headertab i {
	-webkit-transition: -webkit-transform .25s ease-in-out;
 	transition: transform .25s ease-in-out;
}

.headertab:hover {
	background-color: #FFB03D;
}

/* ====== Submenu and Submenu Tab Group */
.sidenavgroup > .submenu {
	width: 100%;
}

.submenutab {
	text-align: center;
	width: 100%;
	background-color: #DDDDDD;
	color: #000000;
	height: 0px;
	overflow: hidden;
	outline: 0px solid #D1D1D1;
	-webkit-transition: height .25s ease-in;
	-o-transition: height .25s ease-in;
	transition: height .25s ease-in, outline .25s ease-in;
/*	transition: height .25s ease-in;*/
}

.submenutab h3 {
	margin-top: 20px;
	font-size: 22px;
}


.submenutab:hover{
	background-color: #FFB03D;
}

/*
.headergroup:hover .submenutab{
	height: 61px;
	outline: 1px solid #D1D1D1;
}
*/

/* ====== Sidenav and Sidenav Group */
.sidenav {
  	height: 100%;
  	width: 0;
  	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	overflow-x: hidden;
  	transition: 0.5s;
  	padding-top: 5px;
  	background-color: #7F7F7F;
}

.sidenavgroup {
	min-width: 250px;
	width: 100%;
	border-bottom: 2px solid #D1D1D1;
	background-color: #B0B0B0;
}

.sidenavgroup h2 {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-left: 5px;
	font-family: 'DepredationPixie';
	line-height: 30px;
	font-size: 30px;
	text-decoration: none;
	width: 130px;
}

.sidenavgroup i {
	display: inline-block;
	float: right;
	margin-top: 30px;
	margin-right: 20px;
	vertical-align: middle;
	-webkit-transition: -webkit-transform .25s ease-in-out;
	transition: transform .25s ease-in-out;
}

.sidenavgroup img {
	display: inline-block;
	width: 50px;
	margin-top: 14px;
	-webkit-transition: -webkit-transform .25s ease-in-out;
	transition: transform .25s ease-in-out;
}

/* ====== Content Group, Subcontent Group, and Fancy Header */
.contentgroup {
	width: 90%;
	text-align: center;
	margin: 0px auto;
	/* padding-bottom: 10px; */
	overflow-y: auto;
}

.contentgroup h3 {
	margin: 10px 0px 10px 0px;
	font-size: 30px;
}


.contentgroup h4 {
	font-size: 20px;
}

.contentgroup embed {
	min-width: 300px;
	width: 90%;
	height: 100vh;
}

.contentgroup a {
	font-weight: bold;
	color: #F7941E;
	text-decoration: none;
}

.subcontentgroup-onethird img, .subcontentgroup-twothirds img {
	max-width: 100%;
	width: 100%;
	border: 2px solid #D1D1D1;
}

.contentgroup > img {
	max-width: 60%;
	width: 60%;
	border: 2px solid #D1D1D1;
}

.contentgroup p {
  	text-align: left;
  	width: 80%;
  	margin: 10px auto 20px auto;
  	line-height: 28px;
    font-size: 19px;
}

.contentgroup p b {
  	color:  #F7941E;
}

.contentgroup .centered {
	text-align: center;
}

.contentgroup .leftalign {
	text-align: left;
	margin-left: 3vw;
}

.contentgroup .viewbutton {
	background-color: #F7941E;
	border: 2px solid #D1D1D1;
	color: #000000;
	text-align: center;
	display: block;
	margin: 10px auto;
	width: 150px;
	height: 50px;
	font-size: 22px;
	font-family: 'DepredationPixie';
	text-decoration: none;
}

.contentgroup .viewbutton:hover {
	background-color: #FFB03D;
}

.contentgroup .githubbutton {
	background-color: #000000;
	border: 2px solid #D1D1D1;
	color: #FFFFFF;
	text-align: center;
	display: block;
	margin: 10px auto;
	width: 200px;
	height: 50px;
	font-size: 20px;
	font-family: 'DepredationPixie';
	text-decoration: none;
}

.contentgroup .githubbutton:hover {
	background-color: #222222;
}

.contentgroup .githubbutton img {
	margin-top: 5px;
	width: 30px;
	float: left;
}

.contentgroup ul {
	text-align: left;
	width: 78%;
	margin: -15px auto 0px auto;
	list-style: none;
	color: #F7941E;
}

.contentgroup ul li {
	padding: 2px;
	font-size: 19px;
}

.contentgroup ul li:before {
	content: "\2022";
	color: #FFFFFF;
	font-weight: bold;
	margin-left: -20px;
	margin-right: 10px;
}

.contentgroup .socialmedialogo {
	width: 75px;
	border: none;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	padding-right: 20px;
}

.contentgroup .socialmedianame {
	font-size: 30px;
	font-weight: bold;
}

.subcontentgroup-onethird {
	vertical-align: middle;
	width: 30%;
	display: inline-block;
	padding-bottom: 10px;
}

.subcontentgroup-twothirds {
	vertical-align: middle;
	width: 60%;
	display: inline-block;
	padding-bottom: 10px;
}

.subcontentgroup-half {
	vertical-align: top;
	width: 45%;
	display: inline-block;
	padding-bottom: 10px;
}

.fancyheader {
  	width: 95%;
  	background-color: #F7941E;
  	border: 2px solid #D1D1D1;
  	color: #000000;
  	text-align: left;
  	margin: 10px auto;
  	min-height: 50px;
	height: auto;
/*	height: 50px;*/
  	line-height: 50px;
  	padding: 5px;
}

.fancyheader h2 {
	width: 80%;
  	margin: 0px;
  	font-family: 'DepredationPixie';
  	font-size: 30px;
  	display: inline-block;
  	vertical-align: middle;
}

.fancyheader img {
  	margin: 0px;
  	display: inline-block;
  	width: 50px;
  	padding-left: 1vw;
  	vertical-align: middle;
}

/* ====== JavaScript and Misc. Classes */
.rotate-arrow {
	-webkit-transform: rotate(90deg);
 	transition-transform: rotate(90deg);
}

.rotate-img {
	-webkit-transform: rotate(30deg);
 	transition-transform: rotate(30deg);
}

.side-open {
  	width: 60%;
  	border-right: 2px solid #D1D1D1;
}

.hide {
  display: none;
}

.mobilebar {
	display: none;
}

.youtubevideo {
  width: 560px;
  height: 315px;
  /* border: none; */
  border: 2px solid #D1D1D1;
}

/* ============ Media Queries ============ */
@media screen and (min-width: 1280px) {
	/* ==== Classes ==== */
	.headertab {
		font-size: 25px;
/*		width: 19.75%;*/
	}

	.headergroup {
		width: 19.6%;
	}

	.submenu {
		width: 19.6%;
	}

	.submenutab h3 {
		font-size: 30px;
	}

	.subcontentgroup-onethird img, .subcontentgroup-twothirds img {
		max-width: 350px;
		width: 350px;
		border: 2px solid #D1D1D1;
	}

}

/* Tablets */
@media screen and (max-width: 768px) {

	/* ==== IDs ====*/
	#title {
		font-size: 50px;
	}

  #extramargintop {
    margin-top: 10px;
  }

  form #submit {
    width: 45%;
  }


	/* ==== Classes ==== */
	.fancyheader {
		line-height: 40px;
	}

	.headertab {
		font-size: 2.3vw;
/*		width: 19.25%;*/
	}

	.headertab img {
		display: none;
	}

	.headertab h2 {

	}

	.headergroup {
		width: 19.25%;
	}

	.submenu {
		width: 19.25%;
	}

	.submenutab h3 {
		font-size: 2.5vw;
	}

	.subcontentgroup-onethird, .subcontentgroup-twothirds, .subcontentgroup-half {
		width: 100%;
		display: block;
	}

	.contentgroup > img, .subcontentgroup-onethird img, .subcontentgroup-twothirds img {
		max-width: 80%;
		width: 80%;
		border: 2px solid #D1D1D1;
	}


	.mobilebar {
		display: block;
	}

	.youtubevideo {
	  	width: 432px;
	  	height: 243px;
	}

}

/* Mobile Phones */
@media screen and (max-width: 500px) {

	/* ==== ID's ==== */
	#logoblock {
		width: 100%;
		margin: 0px auto;
		text-align: center;
	}

	#logoblock img {
		margin: 5px auto -20px auto;
	}

	#navblock {
		display: none;
	}

	#hamblock {
		display: block;
	}

	#title {
		font-size: 40px;
	}

  	.submenutab h3 {
  		font-family: 'DepredationPixie';
  		font-size: 26px;
  	}

	.fancyheader {
		line-height: 30px;
	}

  	.fancyheader h2 {
    	font-family: 'DepredationPixie';
    	font-size: 5.5vw;
		width: 75%
  	}

    .contentgroup h3 {
      font-size: 6vw;
    }

	.contentgroup p {
      font-size: 17px;
    }

    .fancyheader {
      width: 90%;
    }

    audio {
      width: 90%;
    }

	.contentgroup .socialmedianame {
		font-size: 20px;
		font-weight: bold;
	}

	.youtubevideo {
		width: 64vw;
	  	height: 36vw;
	}

  form {
    width: 80%;
  }

  form label {
    font-weight: bold;
    font-size: 20px;
    margin-left: 4.5vw;
  }

  form input {
    font-size: 16px;
    line-height: 16px;
  }

  form textarea {
    font-size: 16px;
    line-height: 16px;
  }

  form #submit {
    font-size: 23px;
  }

}
