/* ==== Color Library ==== */
/* #000000 - Black */
/* #D1D1D1 - Lighter Gray */
/* #A0A0A0 - Light Gray */
/* #7F7F7F - Dark Gray */
/* #23272A - Darker Gray */
/* #F7941E - Main Orange */
/* #FFB03D - Lighter Orange */

/* ==== Fonts ==== */
@font-face {
    font-family: 'DepredationPixie';
    src: url('../font/DepredationPixie.eot');
    src: url('../font/DepredationPixie.eot?#iefix') format('embedded-opentype'),
        url('../font/DepredationPixie.woff2') format('woff2'),
        url('../font/DepredationPixie.woff') format('woff'),
        url('../font/DepredationPixie.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ==== General CSS ==== */
body {
	background-color: #23272A;
}

header {
	background-color: #F7941E;
	margin: -8px -8px 0px -8px;
	height: 195px;
}

header a {
	text-decoration: none;
}

footer {
	background-color: #F7941E;	
}

/* ==== ID's ==== */
#logoblock {
	display: block;
	text-align: left;
	font-family: 'DepredationPixie';
	color: #000000;
	margin-left: 10px;
	height: 130px;
}

#logoblock img {
	width: 170px;
	display: block;
	margin: 5px 0px -20px 25px;
}

#logoblock h1 {
	font-size: 35px;
	margin-bottom: 5px;
}

#navblock {
	display: block ;
	text-align: center;
	width: 100%;
	background-color: #B0B0B0;
	height: 61px;
	border-top: 2px solid #D1D1D1;
	border-bottom: 2px solid #D1D1D1;
}

#hamblock {
	display: none;
	text-align: center;
	width: 100%;
	background-color: #B0B0B0;
	height: 61px;
	border-top: 2px solid #D1D1D1;
	border-bottom: 2px solid #D1D1D1;
}

#noleftborder {
	margin-left: 0px;
}

#norightborder {
	margin-right: 0px;
}

#active {
	background-color: #7F7F7F;
	color: #FFFFFF;
	
}

/* ==== Classes ==== */
.headertab {
	display: inline-block;
	height: 61px;
	line-height: 61px;
	width: 19.5%;
	text-align: center;
	font-family: 'DepredationPixie';
	color: #000000;
	font-size: 1.9vw;
/*	border-left: 0.1vw solid #000000;*/
}

.headertab img {
	-webkit-transition: -webkit-transform .25s ease-in-out;
 	transition: transform .25s ease-in-out;
	width: 5vw;
	display: inline-block;
	vertical-align: middle;
	margin: 0px;
	max-width: 66px;
	min-width: 40px;
}

.headertab h2 {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0px;
}

.headertab:hover {
	background-color: #FFB03D;
}

.headertab:hover img {
	-webkit-transform: rotate(30deg);
 	transition-transform: rotate(30deg);
}

/* ==== Media Queries ==== */
@media screen and (min-width: 1280px) {
	.headertab {
		font-size: 25px;
		width: 19.75%;
	}
}

/* Tablets */
@media screen and (max-width: 768px) {
	
	/* ==== Classes ==== */
	.headertab {
		font-size: 2.3vw;
		width: 19.25%;
	}
	
	.headertab img {
		display: none;
	}
	
	.headertab h2 {

	}
	
}

/* Mobile Phones */
@media screen and (max-width: 500px) {
	
	/* ==== ID's ==== */
	#logoblock {
		width: 100%;
		margin: 0px auto;
		text-align: center;
	}
	
	#logoblock img {
		margin: 5px auto -20px auto;
	}
	
	#navblock {
		display: none;
	}
	
	#hamblock {
		display: block;
	}
	
}