@charset "utf-8";
/* CSS Document */

/*================
Color Library 
=================*/

/* #000000 - Black */
/* #D1D1D1 - Lighter Gray */
/* #A0A0A0 - Light Gray */
/* #7F7F7F - Dark Gray */
/* #23272A - Darker Gray */
/* #111111 - Basically Black Gray */
/* #F7941E - Main Orange */
/* #FFB03D - Lighter Orange */

/*================
Fonts
=================*/
@font-face 
{
	font-family: 'DepredationPixie';
	src: url('../font/DepredationPixie.eot');
	src: url('../font/DepredationPixie.eot?#iefix') format('embedded-opentype'),
		 url('../font/DepredationPixie.woff2') format('woff2'),
		 url('../font/DepredationPixie.woff') format('woff'),
		 url('../font/DepredationPixie.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face 
{
	font-family: 'Free Pixel';
	src: url('../font/FreePixel-Regular.eot');
	src: url('../font/FreePixel-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../font/FreePixel-Regular.woff2') format('woff2'),
		 url('../font/FreePixel-Regular.woff') format('woff'),
		 url('../font/FreePixel-Regular.ttf') format('truetype'),
		 url('../font/FreePixel-Regular.svg#FreePixel-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face 
{
	font-family: 'pixelmix';
	src: url('../font/pixelmix.eot');
	src: url('../font/pixelmix.eot?#iefix') format('embedded-opentype'),
		 url('../font/pixelmix.woff2') format('woff2'),
		 url('../font/pixelmix.woff') format('woff'),
		 url('../font/pixelmix.ttf') format('truetype'),
		 url('../font/pixelmix.svg#pixelmix') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face 
{
	font-family: 'Century Gothic';
	src: url('../font/CenturyGothic-Bold.eot');
	src: url('../font/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../font/CenturyGothic-Bold.woff2') format('woff2'),
		 url('../font/CenturyGothic-Bold.woff') format('woff'),
		 url('../font/CenturyGothic-Bold.ttf') format('truetype'),
		 url('../font/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face 
{
	font-family: 'Century Gothic';
	src: url('../font/CenturyGothic.eot');
	src: url('../font/CenturyGothic.eot?#iefix') format('embedded-opentype'),
		 url('../font/CenturyGothic.woff2') format('woff2'),
		 url('../font/CenturyGothic.woff') format('woff'),
		 url('../font/CenturyGothic.ttf') format('truetype'),
		 url('../font/CenturyGothic.svg#CenturyGothic') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*================
Tags
=================*/
html 
{
	scroll-behavior: smooth;
}

header, nav, footer
{
	/* Prevent selection */
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

header a, nav a, footer a
{
    color: #FFFFFF;
    text-decoration: none;
}

header
{
	font-family: 'DepredationPixie';
	margin-top: 20px;
	overflow: hidden;
	margin: -8px;
	padding: 15px 10px 0px;
	text-shadow: 1px 1px 10px black;
	height: auto;
}

body
{
	/* Backup background image */
/*
	background-image: url("../img/backup-background.png");
	background-repeat: no-repeat;
  	background-size: auto;
*/
	
	/* Backup backup - standard color */
	background-color: #111111;
}

main
{
	width: 100%;
	margin: 0px auto;
	display: block;
	clear: both;
	min-height: 600px;
}

main h1
{
	text-align: center;
	color: #FFFFFF;
	font-family: 'DepredationPixie';
	font-size: 70px;
	text-shadow: 1px 1px 10px black;
}

main > h2
{
	text-align: center;
	color: #FFFFFF;
	font-family: 'Free Pixel';
	font-size: 45px;
	text-shadow: 1px 1px 10px black;
	line-height: 45px;
	margin-top: -30px;
}

footer
{
	color: #FFFFFF;
	/* font-family: "Century Gothic"; */
	font-family: "Free Pixel";
}

footer h1
{
	font-size: 26px;
}

footer h2
{
    text-align: left;
    font-size: 15px;
    margin: 5px 5px 5px 0px;
    display: inline-block;
    vertical-align: top;
}

b
{
	color: #F7941E;
}

audio
{
	margin: -10px 10px 20px;
}

footer i
{
	display: inline-block;
	vertical-align: middle;
	margin: 5px 3px 5px 10px;
}

hr
{
	display: none;
}

embed
{
	width: 80%;
	height: 600px;
}

/*================
IDs
=================*/
#me
{
	width: 80%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
	margin: 0px;
}

#main-nav
{
	float: right;
	width: 65%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

#main-nav-index
{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

#bottom-nav
{
	display: none;
	z-index: 1;
}

#bottom-nav .nav-item
{
	filter: drop-shadow(0px 0px 2px #F7941E);
}

#header-logo
{
	width: 250px;
}

#logo-text
{
	font-family: 'Free Pixel';
	color: white;
	font-size: 45px;
	margin: -10px 3px;
	white-space: nowrap;
}

#logo-block
{
	width: 34%;
	float: left;
	padding-left: 1%;
	height: 200px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition-property: filter;
}

#logo-block a
{
	text-decoration: none;
}

#logo-block:hover
{
	filter: drop-shadow(0px 0px 6px #F7941E);
}

#background video
{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	z-index: -2;
}

#background-cover
{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	z-index: -1;
	background-color: rgba(0,0,0,0.5)
}

#modal-background
{
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 20px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition-property: opacity, visibility;
	cursor: pointer;
	/* font-family: "Century Gothic"; */
	font-family: "Free Pixel";
	color: #FFFFFF;
}

#modal
{
/*	background-color: #23272A;*/
	background-image: linear-gradient(rgba(0,0,0,1), rgba(35,39,42,1));
    border-radius: 5px;
    border: 2px solid #F7941E;
	box-shadow: 4px 4px 20px 20px #000000;
	margin: 0px auto;
	padding: 20px;
	width: 80%;
	min-height: 80%;
	height: auto;
	transform: scale(0.0);
	transition: transform 0.3s ease-in-out;
	-webkit-transition: transform 0.3s ease-in-out;
	text-align: center;
	cursor: default;
}

#modal-title
{
	font-size: 50px;
	margin: 10px;
	color: #F7941E;
}

#modal-text
{
	text-align: left;
	margin: 10px;
	font-size: 22px;
}


#modal-img, #modal-video
{
	width: 60%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid #D1D1D1;
	margin: 0px auto;
}

#modal-img
{
	display: block;
}

#modal-video
{
	display: none;
}

#quick-nav a, #skills-nav a
{
	color: #FFFFFF;
	font-size: 36px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition-property: color, font-size;
	line-height: 40px;
}

#quick-nav a:hover, #skills-nav a:hover
{
	font-size: 40px;
	color: #F7941E;
}

#index-title
{
	text-align: center;
	color: #FFFFFF;
	font-family: 'Free Pixel';
	font-size: 45px;
	text-shadow: 1px 1px 10px black;
	line-height: 45px;
}

#index-title h1
{
	text-align: center;
	color: #FFFFFF;
	font-family: 'DepredationPixie';
	font-size: 70px;
	text-shadow: 1px 1px 10px black;
	margin: 10px;
	font-size: 70px;
}

#index-title h2
{
	text-align: center;
	color: #F7941E;
	font-family: 'Free Pixel';
	font-size: 45px;
	text-shadow: 1px 1px 10px black;
	line-height: 45px;
	margin-top: 0px;
}

/*================
Classes
=================*/
.nav-item
{
	margin: 10px;
	text-align: center;
	white-space: nowrap;
}

.nav-item img
{
	padding: 0px;
	margin: -20px;
	height: calc(30px + 2vw);
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition-property: transform, drophadow;
}

.nav-item h1
{
	font-family: 'Free Pixel';
	/* font-family: 'DepredationPixie'; */
	font-size: calc(26px + 1vw);
	margin: 10px;
	text-align: center;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition-property: transform, color;
	color: #FFFFFF;
	text-decoration: none;
}

.nav-item:hover h1
{
	color: #F7941E;
	transform: scale(1.1);
}

.nav-item:hover img
{
	transform: scale(1.1);
	filter: drop-shadow(0px 0px 3px #F7941E);
}

.content-header
{
    width: 95%;
	background-color: #F7941E;
    border: 2px solid #D1D1D1;
    color: #000000;
    text-align: left;
    margin: 10px auto;
    min-height: 50px;
    height: auto;
    line-height: 25px;
    padding: 5px;
	box-shadow: 4px 4px 10px 2px #000000;
}

.content-header h2
{
    width: 75%;
    margin: 0px;
    font-family: 'DepredationPixie';
    font-size: calc(20px + 0.75vw);
    display: inline-block;
    vertical-align: middle;
}

.content-header img
{
    margin: 0px;
    display: inline-block;
    width: 50px;
    padding-left: 1vw;
    vertical-align: middle;
}

.content-section
{
	margin: 0px auto 20px;
	width: 92%;
	color: #FFFFFF;
	/* font-family: "Century Gothic"; */
	font-family: "Free Pixel";
	font-weight: bold;
}

.content-section > p
{
	font-weight: normal;
	color: #FFFFFF;
	font-size: 24px;
}

.content-section ol, .content-section ul
{
	color: #FFFFFF;
	font-size: 36px;
	list-style: none;
}

.content-section ol li::before, .content-section ul li::before
{
  content: "\2022";
  color: #F7941E;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.content-section a
{
	text-decoration: none;
}

.content-section > img
{
	width: 100%;
    height: 500px;
    object-fit: cover;
    border: 6px solid #D1D1D1;
	margin: 20px 0px 0px 0px;
	box-shadow: 4px 4px 10px 2px #000000;
}


.gallery
{
	text-align: center;
}

.gallery-item
{
	background-color: #23272A;
	width: 350px;
	height: 350px;
	margin: 10px;
	display: inline-block;
	vertical-align: top;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition-property: transform, background-color;
    border-radius: 5px;
    border: 2px solid #F7941E;
    overflow: hidden;
	box-shadow: 4px 4px 10px 2px #000000;
}

.gallery-item:hover
{
	background-color: #4F555A;
	transform: scale(1.03);
	cursor: pointer;
}

.gallery-item h3
{
	font-size: 30px;
	margin: 10px;
}

.gallery-item img
{
	width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid #D1D1D1;
	margin: 0px;
}

.gallery-button, .view-button
{
    width: 200px;
	height: 50px;
	margin: 5px;
	font-family: "pixelmix";
	font-size: 20px;
	background-color: #F7941E;
    border: 2px solid #D1D1D1;
	font-weight: bold;
	-webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.gallery-button:hover, .view-button:hover
{
	background-color: #FFB03D;
	cursor: pointer;
}

.view-button
{
	display: block;
	margin: 5px auto;
}

.github-button
{
    background-color: #000000;
    border: 2px solid #D1D1D1;
    color: #FFFFFF;
    text-align: center;
	margin: 5px;
    width: 200px;
    height: 50px;
    font-size: 15px;
	font-family: "pixelmix";
    text-decoration: none;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.github-button:hover
{
	background-color: #222222;
	cursor: pointer;
}

.github-button img
{
	margin: 0px;
    width: 30px;
    height: 30px;
    border: none;
    float: left;
	display: inline-block;
	box-shadow: 0px 0px 0px 0px black;
}

.social-media-footer-container
{
	width: 50%;
	float: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.social-media-footer-container a
{
	text-decoration: none;
	color: #FFFFFF;
}

.social-media-footer-container a:hover
{
	color: #F7941E;
}

.social-media-footer-container a:hover svg
{
	transform: scale(1.1);
	filter: drop-shadow(0px 0px 3px #F7941E);
}


.social-media-footer
{
	width: 33%;
}

.social-media-footer p, .social-media-footer svg
{
	display: inline-block;
	vertical-align: middle;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.hidden
{
	display: none;
}


.subgroup-full
{
	width: 100%;
	display: inline-block;
	vertical-align: top;
}

.subgroup-half
{
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

.subgroup-half > h3
{
	margin: 10px;
}

.subgroup-half > h4
{
	font-size: 22px;
	margin: 10px;
	color: #F7941E;
}

.subgroup-onethird
{
	width: 33%;
	display: inline-block;
	vertical-align: middle;
}

.subgroup-twothirds
{
	width: 66%;
	display: inline-block;
	vertical-align: middle;
}

.subgroup-onefourth
{
	width: 22%;
	display: inline-block;
	vertical-align: middle;
}

.subgroup-full, .subgroup-half, .subgroup-onethird, .subgroup-twothirds
{
	color: #FFFFFF;
    text-align: center;
	font-size: 30px;
	/* font-family: "Century Gothic"; */
	font-family: "Free Pixel";
}

.subgroup-full > p, .subgroup-half > p, .subgroup-onethird > p, .subgroup-twothirds > p
{
	font-weight: normal;
	font-size: 24px;
}

.subgroup-full > img, .subgroup-half > img, .subgroup-onethird > img, .subgroup-twothirds > img
{
	width: 60%;
	max-height: 300px;
	object-fit: cover;
    border: 6px solid #D1D1D1;
	margin: 20px 0px 0px 0px;
	box-shadow: 4px 4px 10px 2px #000000;
}

.subgroup-full > h3, .subgroup-half > h3, .subgroup-onethird > h3, .subgroup-twothirds > h3
{
	font-size: 36px;
}

.collapsible-content
{
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: .3s ease-in-out;
 	transition: .3s ease-in-out;
	width: 90%;
	margin: 0px auto;
	font-weight: normal;
	font-size: 24px;
}

.collapsible-content ul
{
	text-align: left;
	font-weight: normal;
	font-size: 24px;
	/* background-color: rgba(0,0,0,0.3); */
	padding: 10px;
}

.icon-footer
{
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 5px;
	vertical-align: middle;
}

.info-footer-container
{
	margin-top: -10px;
	width: 50%;
	float: left;
}

.half-divider
{
	margin-top: -10px;
}

.half-divider a, .half-divider div
{
	width: 50%;
	float: left;
}

.tooltip
{
	transition: 0.3s;
}

.tooltip .tooltip-text
{
	visibility: hidden;
	width: 150px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	font-weight: normal;
	font-size: 20px;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 110%;
	left: 50%;
	margin-left: -75px;

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
}

/* Tooltip arrow */
.tooltip .tooltip-text::after
{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover
{
	transform: scale(1.1);
}

.tooltip img
{
	border-width: 0px;
	box-shadow: 0px 0px 0px 0px black;
	max-height: none;
	height: auto;
	margin: auto;
}

.tooltip:hover img, .tooltip:hover svg
{
	filter: drop-shadow(0px 0px 4px #F7941E);
}

.tooltip:hover .tooltip-text
{
	visibility: visible;
	opacity: 1;
}

.tech-icon
{
	width: 60%;
	transition: 0.3s;
	padding-bottom: 10px;
}

.social-media-logo 
{
	width: 75px;
	border: none;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	transition: 0.3s;
}

.social-media-name 
{
	font-size: calc(16px + 1vw);
	font-weight: bold;
	transition: color 0.3s;
	width: 100%;
	text-align: left;
}

.social-media-name:hover 
{
	color: #F7941E;
	cursor: pointer;
}

.social-media-name:hover .social-media-logo 
{
	transform: scale(1.1);
	filter: drop-shadow(0px 0px 4px #F7941E);
	overflow: auto;
}

.title-pic
{
	max-height: 600px;
	object-fit: cover;
	width: 75%;
	margin: 0px auto;
}

.carousel
{
	overflow: hidden;
	border-radius: 10px;
	width: 100%;
	text-align: center;
	margin: auto;
}

.carousel-content
{
	position: relative;
	overflow: visible;
	width: 100%;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	transition-property: transform, background-color;	
}

.carousel-content img
{
	max-height: 600px;
	object-fit: cover;
	width: 100%;
	margin: 0px auto;
}

.carousel-content-caption
{
	background-color: rgba(0,0,0,0.6);
	color: #FFFFFF;
	width: 100%;
	margin: 0px;
	text-align: center;
	font-family: "Free Pixel";
	position: absolute;
	bottom: 30px;
	left: 0px;
	max-height: 150px;
	height: auto;
	padding: 10px 0px;
	overflow: visible;
}

.carousel-content-caption h3
{
	font-size: 40px;
	margin: 0px;
}

.carousel-content-caption p
{
	font-size: 20px;
	margin: 0px;
}

/*
.social-media-main
{
	cursor: pointer;
	width: 50%;
	height: 75px;
}

.social-media-logo 
{
	width: calc(25px + 4vw);
	height: auto;
	border: none;
	text-align: left;
	float: left;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	-webkit-transition: .3s ease-in-out;
 	transition: .3s ease-in-out;
	box-shadow: none;
}

.social-media-name
{
	font-size: 32px;
	font-weight: bold;
	transition: color 0.3s;
	text-align: left;
	float: left;
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	margin: 0px;
}

.social-media-main:hover .social-media-name
{
	color: #F7941E;
}

.social-media-main:hover .social-media-logo 
{
	transform: scale(1.1);
	filter: drop-shadow(0px 0px 4px #F7941E);
	overflow: auto;
}
*/

/*================
Media Queries
=================*/
/* TABLETS AND SMALL COMPUTERS */
@media only screen and (max-width: 1000px)
{
	#main-nav
	{
		padding-top: 0px;
		width: 100%;
	}
	
	#logo-block
	{
		width: 100%;
		float: none;
		text-align: center;
		height: 100px;
	}
	
	#header-logo
	{
		width: 150px;
	}
	
	#logo-text
	{
		font-size: 30px;
	}
	
	.nav-item
	{
		font-size: 5vw;
	}
	
	.info-footer-container
	{
		width: 100%;
	}
	
	.social-media-footer-container
	{
		width: 100%;
	}
	
	.subgroup-half, .subgroup-onethird, .subgroup-twothirds
	{
		width: 100%;
	}
	
	hr
	{
		display: block;
	}
	
	.social-media-main
	{
		width: 75%;
	}

	#index-title h1
	{
		font-size: 50px;
		line-height: 50px;
		margin: 0px;
	}

	#index-title h2
	{
		font-size: 30px;
		line-height: 30px;
	}
}

/* PHONES */
@media only screen and (max-width: 480px)
{
	#main-nav, #main-nav-index
	{
		display: none
	}
	
	#bottom-nav
	{
		display: flex;
		background-color: #23272A;
		overflow: hidden;
		position: fixed;
		bottom: 0;
		width: 105%;
		margin-left: -25px;
		flex-wrap: nowrap;
		justify-content: space-around;
		height: 50px;
		border-top: 2px solid #D1D1D1;
	}
	
	.nav-item
	{
		width: 25%;
		height: 100%;
		margin-top: -1px;
	}
	
	.nav-item img
	{
		margin-top: 3px;
		height: 45px;
	}
	
	.nav-item:hover
	{
		background-color: #F7941E;
	}
	
	.social-media-footer-container
	{
		margin-bottom: 50px;
	}
	
	.social-media-footer-container p
	{
		display: none;
	}
	
	.social-media-footer-container svg
	{
		margin: 5px;
	}
	
	.gallery-item
	{
		width: 250px;
	}
	
	.half-divider a, .half-divider div
	{
		width: 100%;
		float: left;
	}
}