
/* ==========Color Library ========== */

/*  #cccccc /*Light Gray*/
/*  #999999 /*Med Gray*/
/*  #4d4d4d /*Dark Gray*/
/*  #333333 /*Darker Gray*/
/*  #ef3c39 /*Business Red*/



/* Elements */

.team_banner {
  width: 100%;
  background-color: white;
  float: left;
  display: inline;

}


.team_spacer_vert {
  height: 30px;
  width: 10px;
  float: left;
  display: inline;

}

a {
  text-decoration:none;
}


/* team panel stylings*/

.team_panel_container {
  width: 100%;
  float: left;
  display: inline;
  background-color: white;
}


.team_panel_image {
  width: 40%;
  padding: 0px 0px 0px 0px;
  /* top | right | bottom | left */
  float: left;
  display: block;

}
/*
.team_image_wrangler{
  clip: rect(0px, 288px, 340px,0px);
  padding: 20px 20px 20px 20px;
  position: absolute;
  display: block;
  margin: auto;

}
*/

.team_image_background{
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  float: left;
  display: inline;
/*
  border-bottom-style: solid;
  border-bottom-color: #ef3c39 /*Business Red*/;
/*
  border-bottom-width: 5px;
*/
}

#connor {
  background-size: 93%;
  background-position: center bottom;


}

#brad {
  background-size: 87%;
  background-position: left bottom;


}

#riley {
  background-size: 95%;
  background-position: center bottom;


}

#josie {
  background-size: 75%;
  background-position: left bottom;


}

#matt {
  background-size: 150%;
  background-position: center bottom;


}


.team_panel_text{
  float: left;
  display: inline;
  width: 60%;
  background-color: white;
  padding: 0px 20px 10px 20px;
  /* top | right | bottom | left */


}

.team_panel_text h2{
  font-weight: 900;
  color: #ef3c39 /*Business Red*/;
  font-size: 3em;
  text-transform: capitalize;
  margin: 20px 0px 0px 0px;
  /* top | right | bottom | left */


}

.team_panel_text h3{
  font-weight: 700;
  font-size: 2em;
  font-style:oblique;
  text-transform: capitalize;
  margin: 0px 0px 0px 0px;

}

.team_panel_text p{
    text-align: justify;
    margin: 10px 0px 0px 0px;
    /* top | right | bottom | left */
}


/* Team text stylings */

.team_text_header {
  color: #ef3c39 /*Business Red*/;
  font-weight: 700;
  font-size: 3em;
  text-align: center;

}
